/************************************ BOTONES ************************************/
.button {
  -fx-font-weight: bold;
  -fx-text-fill: #e9e9e9;
  -fx-background-color: #38a4be;
  -fx-font-size: 14;
}

.button:hover {
  -fx-background-color: #3190a6;
}

.btnCancelar {
  -fx-background-color: #d9406f;
}

.btnCancelar:hover {
  -fx-background-color: #be3861;
}
/************************************ FIN BOTONES ************************************/

.combo-box {
  -fx-background-color: white;
}

.label {
  -fx-text-fill: #e9e9e9;
  /* -fx-alignment: center; */
  -fx-alignment: center;
}

/************************************ TABLAS ************************************/
.table-view {
  -fx-background-color: #303030;
  -fx-control-inner-background: transparent;
  -fx-table-cell-border-color: transparent;
  -fx-border-color: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-background-radius: 10;

  -fx-effect: dropshadow(
    two-pass-box,
    #1d1d1dc4,
    20,
    0,
    10,
    10
  ); /*spread, sepa, derecha, abajo*/
}

.table-view .column-header {
  -fx-font-size: 14;
}

.table-view .column-header-background {
  -fx-background-color: #308ca3c4;
  -fx-background-radius: 10 10 0 0;
  -fx-background-insets: 0 0 10 0;
  -fx-padding: 0 0 10 0;
}

.table-view .column-header,
.table-view .filler {
  -fx-size: 40;
  -fx-background-color: transparent;
}

.table-cell {
  -fx-text-fill: #e9e9e9;
  -fx-font-size: 14;
  -fx-padding: 7 0 7 10; /*arriba derecha abajo izquierda*/
}

.table-view:focused .table-row-cell:filled:focused:selected {
  -fx-table-cell-border-color: transparent;
  -fx-background-color: #114b5a;
}

.table-row-cell:filled:focused:selected {
  -fx-table-cell-border-color: transparent;
  -fx-background-color: #303030;
}

.table-view .table-row-cell:hover {
  -fx-background-color: #3d3d3d;
}
/************************************ FIN TABLAS ************************************/

/************************************ LISTA ************************************/
.list-view {
  -fx-background-color: #303030;
  -fx-control-inner-background: transparent;
  -fx-table-cell-border-color: transparent;
  -fx-border-color: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-text-fill: #e9e9e9;
  -fx-font-size: 14;
  -fx-padding: 7 0 7 0;
}

.list-view .list-cell:odd {
  -fx-background-color: #333333;
}

.list-view:focused .list-cell:filled:focused:selected {
  -fx-list-cell-border-color: transparent;
  -fx-background-color: #114b5a;
}

.list-cell:filled:focused:selected {
  -fx-table-cell-border-color: transparent;
  -fx-background-color: #303030;
  -fx-text-fill: #e9e9e9;
}

.list-view .list-cell:hover {
  -fx-background-color: #3d3d3d;
}
/************************************ FIN LISTA ************************************/

/************************************ MENU ************************************/
.menu-button.dropdown {
  -fx-background-color: #303030;
}

.level1 .menu-item {
  -fx-background-color: #303030;
}

.level1 .menu-item:hover {
  -fx-background-color: #3d3d3d;
}

.menu:hover {
  -fx-background-color: #3d3d3d;
}

.menu:showing {
  -fx-background-color: #114b5a;
  /* #3d3d3d */
}
/************************************ FIN MENU ************************************/

/************************************ TABS ************************************/
.tab-pane *.tab-header-background {
  -fx-background-color: #3d3d3d;
  /* #114b5a */
}

.tab-label {
  -fx-text-fill: #e9e9e9;
  -fx-font-size: 14;
}

.tab {
  -fx-background-color: #303030;
  -fx-outer-border: #303030;
  -fx-inner-border: #303030;
}

.tab:selected {
  -fx-background-color: #222222;
  -fx-focus-color: #222222;
}
/************************************ FIN TABS ************************************/

/************************************ VBOX ************************************/
.vbox {
  -fx-background-color: #3190a6;
}

.btnMenu {
  -fx-background-color: #3190a6;
  -fx-font-size: 20;
}

.btnMenu:hover {
  -fx-background-color: #38a4be;
  -fx-font-size: 20;
}
/************************************  FIN VBOX ************************************/

/* COLOR DE FONDO DEPENDIENDO DEL NIVEL DE LA PANTALLA */
.window-background-level1 {
  -fx-background-color: #222222;
}
